# Coverage config file

[report]
    omit =
        # ignore all test cases in tests/
        tests/*
        *__init__*
    exclude_lines =
        pragma: no cover
        if __name__ == .__main__.:
    fail_under = 50.0

[xml]
output = coverage.xml
