# Coverage config file

[report]
    omit =
        # ignore all test cases in tests/
        tests/*
        *__init__*
    exclude_lines =
        pragma: no cover
        if __name__ == .__main__.:
    fail_under = 50.0
    # I keep getting errors on Github and I just want to freaking publish once.
    # Once I have a million years to dedicate to this, I will revisit.
    ignore_errors = True

[xml]
output = coverage.xml
